# Windows image file cache
**/Thumbs.db
**/ehthumbs.db

# сonfig file
**/*.ini

# tmp files
**/*.swp

# TeX tmp files
**/*.aux
**/*.bbl
**/*.blg
**/*.synctex
**/*.log
**/*.dvi
**/*.idx
**/*.ilg
**/*.ind
**/*.toc
**/*.lot
**/*.lof
**/*.out
**/*.bak
**/*.gz
**/*.gz(busy)
_main.pdf
_mainOLD.pdf
todo_formulas.pdf
**/*.mtc*
**/*.ptc*
**/*.maf
**/*.ist
**/*.bib
**/*.xml
**/*.bcf
**/*.ps
*.mst
